{% load static %}
<footer id="myFooter2">
       <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-default">Ми в соц. сетях</button>
                    <div class="social-networks">
                        <a href="https://www.instagram.com/pasta_family/" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/PastaFamilyua/" class="facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <h5><font color="#f97e05">Общее</font></h5>
                    <ul>
                        <li><a href="/ru/">Домашняя страница</a></li>
                        <li><a href="/ru/order_check/">Проверить заказ</a></li>
                        <li><a href="/ru/ofert">Договор Оферты</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5><font color="#f97e05">О нас</font></h5>
                    <ul>
                        <li><a href="/ru/about">О компании</a></li>
                        <li><a href="/ru/cooperation">Сотрудничество</a></li>
                        <li><a href="/ru/review">Оставить отзыв</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5><font color="#f97e05">Помощь</font></h5>
                    <ul>
                        <li><a>096-144-38-88</a></li>
                        <li><a>095-744-38-88</a></li>
                        <li><a href="mailto:pastafamily.officе@gmail.com">PastaFamily.office@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5><font color="#f97e05">Язык</font></h5>
                    <ul>
                        <li><a href="/"><img src="{% static '/assets/img/ua1.png' %}" width="40px" height="40px"></a>
                            <a href="ru"><img src="{% static '/assets/img/ru1.png' %}" width="40px" height="40px"></a></li>
                        <li><img src="{% static '/assets/img/mastercard.png' %}" width="70px" height="70px">
                            <img src="{% static '/assets/img/visa.png' %}" width="70px" height="70px"></li>
                    </ul>
                </div>
            </div>
       </div>
        <div class="footer-copyright">
            <p>© 2018 Pasta Family, make by <a href="https://www.instagram.com/javood_/" target="_blank">JaVood</a></p>
        </div>
    </footer>
