{% load static %}
<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"></a>
				</div>
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/about">Про компанію</a></li>
                        <li><a href="/product_group">Товари</a></li>
                        <li><a href="/cooperation">Співпраця</a></li>
						<li><a href="/loyalty_program">Програма лояльності</a></li>
                        <li><a href="/delivery">Доставка і оплата</a></li>
						<li><a href="/return">Повернення товару</a></li>
                        <li><a href="/for_sportmens">Для спортсменів</a></li>
                        <li><a href="/contacts">Контакти</a></li>
						{% with total_items=cart|length %}
						<a href="/cart" class="cart"><span id="cart_len" class="counter">{{ total_items }}</span></a>
						{% endwith %}
					</ul>
				</div>
			</div>
		</nav>