{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="lZIw_qwtqs6BMVMFq4bOnXI5fVShSSWHOD7Rc8tV6y7zv3-b_mb6rbYHP1_R_PnaHlwQGPt_YuEAC5wLgyKaQg==">
    <title>Для спортсменов</title>
    <link rel="shortcut icon" href="{% static '/assets/img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="description" content="Арахисовая паста для детей и взрослых в Киеве и Украине. Большой ассортимент: арахисовая паста, масло и арахис можете приобрести уже сегодня по выгодной цене!">
    <meta name="keywords" content="">
    <link href="{% static '/assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/site.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/page/page.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/template.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/font/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3652317688132524');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3652317688132524&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</head>
    <body>

        {% block navbar %}
        {% include 'core/navbar_ru.html' %}
        {% endblock %}

<div id="content" class="container-fluid">
            <div class="row">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <br>
                    <h1><font color="#f97e05">ДЛЯ СПОРТСМЕНОВ</font></h1>
                    <div class="line"></div>
                    <font size="+1">
                    <p>Друзья, этот раздел не похож на все остальные, так как будет направлен на спортивную тематику и также затронет диетологию. Все спортсмены: профессионалы, любители, все "бухгалтера калорий" и те, кто следит за своим рационом, этот раздел для вас. Скоро Вы перестанете с ужасом обходить витрины "царства калорий" с арахисовой пастой.</p>
                    <p>Так случилось, что мы тесно связаны с профессиональным спортом, поэтому мы должны были сделать для Вас этот раздел. Информация ниже — это синтез многолетних экспериментов на собственных диетах и ​​на разных этапах подготовок к различным чемпионатам, а также здесь мы Вам приведем мнения авторитетных американских диетологов и спортсменов.</p>
                    </font>
                </div>
                <div class="col-sm-12">
                    <div class="imgBox first row">
                        <div class="imgBoxIn brand" style=" background: url({% static '/assets/img/bg1.jpg' %}) center 100% no-repeat; ">&nbsp;</div>
                    </div>
            
            </div>
        </div>
        <div class="container-fluid">
           
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h2>ДАВАЙТЕ НАЧНЕМ УЖЕ</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="background: #dddddd">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>1 ПОЧЕМУ АРАХИСОВАЯ ПАСТА?</h3>
                    <p>Потому что Вы никогда не выиграете войну против голода. Лучше всего есть пищу, которая заставит Вас чувствовать себя сытым . Это означает, что продукты с белковым и волокноподобным составом, такие как арахисовая паста, идеально подходят для этой миссии. Вы будете чувствовать себя сытнее дольше, что очень важно при постоянных физических нагрузках. Исследование PerdueUniversity сообщает, что испытуемые, которые ели арахис каждый день, не переедали ежедневные калории. (Kirkmeyer, Int’lJObesity 24: 1167, 2000). Кроме того, если Вам нравится то, что вы едите на своей диете, Вы останетесь с планом питания и сможете удержать вес.</p>
                </div>
            </div>

            <div class="row">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>2 АРАХИСОВАЯ ПАСТА - БЫСТРЫЙ И ЛЕГКИЙ СПОСОБ УМЕНЬШЕНИЯ РИСКОВ БОЛЕЗНЕЙ СЕРДЦА</h3>
                    <p>Как сообщают в Journal of the American College of Nutrition ( випуск 20 (1): 5, 2001) – ‘’ Чем чаще Вы едите арахисовую пасту (и орехи), тем ниже риск сердечных заболеваний. ’’</p>
                </div>
            </div>

            <div class="row"  style="background: #dddddd">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>3 ЭТО БЫСТРЫЙ И ПОЛЕЗНЫЙ ЗАВТРАК</h3>
                    <p>Простой  сэндвич с арахисовой  пастой (и медом или желе) на хлебе - и у Вас есть задатки здоровой еды на завтрак - это и есть основа различных диет.</p>
                    <p>Быстрый  и легкий сэндвич с арахисовой пастой  более здорово, чем фаст-фуд или обжаренный куриный ужин, и намного лучше, чем, скажем так, не менее "легкая" еда из чипсов или мороженого. </p>
                </div>
            </div>

            <div class="row">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>4 АРАХИСОВАЯ ПАСТА — ДОСТУПНЫЙ ИСТОЧНИК КАЛОРИЙ</h3>
                    <p>Если Вы голодный спортсмен, которому требуется 3000 или более калорий в день, Вы можете потратить значительную сумму денег, подпитывая себя (особенно, если Вы регулярно употребляете белковые батончики, весовые коктейли и другие искусственные спортивные продукты). Арахисовая паста может подпитывать ваше тело, не разоряя ваш кошелек.</p>
                </div>
            </div>

            <div class="row" style="background: #dddddd">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>5 АРАХИСОВАЯ ПАСТА - УСТОЙЧИВЫЙ ИСТОЧНИК ВИТАМИНОВ, МИНЕРАЛОВ И ДРУГИХ ЗАЩИТНЫХ ПИЩЕВЫХ СОЕДИНЕНИЙ</h3>
                    <p>В арахисовой пасте есть множество разнообразных витаминов и минералов. Например, арахисовое масло содержит фолиевую кислоту, витамин Е, магний и ресвератрол - все питательные вещества, связанные с уменьшением риска сердечных заболеваний. Магний также связан с уменьшением риска развития диабета у взрослых.</p>
                    <p>Арахисовая паста предлагает небольшое количество цинка, минерала, необходимого для заживления и укрепления иммунной системы. Как спортсменам, Вам нужны все эти питательные вещества, чтобы держать Вас в хорошем ритме тренировок.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="imgBox first row">
                        <div class="imgBoxIn brand" style=" background: url({% static '/assets/img/bg2.jpg' %}) center 100% no-repeat; ">&nbsp;</div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="sportsmen col-sm-offset-2 col-sm-8" style="margin-top: 60px; margin-bottom: 40px;">
                    <div class="col-md-4">
                        <p><img src="{% static '/assets/img/jum.jpg' %}"> </p>
                        <div class="info_man">Джим Стоппани обладатель докторской степени в физиологии упражнений в Университета Коннектикута. Является автором «Энциклопедии мышц и сил» (Human Kinetics, 2006), «Платина 360 диеты и стиля жизни» LL Cool J (Rodale, 2010 ), Соавтор книги «Более сильные руки и верхняя часть тела» (Human Kinetics, 2008) и др. с ним не поспоришь не так ли?                         </div>
                    </div>
                    <div class="col-md-8">
                        <p><em>&laquo;Peanut butter is a very valuable product for athletes and I often remember it in my articles. I want to note the fibrousness of this product because fiber in food contributes to a sense of completeness that can help dieters feel less hungry. Fiber also promotes regular bowel movement and helps digestion. Enjoying peanut butter on whole grain bread, you can contribute from 6 to 8 grams of fiber for the recommended goal of 20 to 35 grams of fiber per day.&raquo;</em></p>
                        <p><em>«Арахисовая паста очень ценный продукт для спортсменов и я не раз вспоминаю его в своих статьях. Именно хочу отметить волокнистость этого продукта так как волокно в пище способствует ощущению полноты, которая может помочь сидящим на диете меньше чувствувать голод. Волокно также способствует регулярному движению кишечника и помогает пищеварению. Наслаждаясь арахисовой пастой намазывая её на хлеб из цельного зерна, Вы можете употребить от 6 до 8 граммов волокна от рекомендованной нормы 20 - 35 граммов клетчатки в день.»</em></p>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="imgBox first row">
                        <div class="imgBoxIn brand" style=" background: url({% static '/assets/img/bg3.jpg' %}) center 100% no-repeat; ">&nbsp;</div>
                    </div>
                </div>


                <div class="sportsmen col-sm-8 col-sm-offset-2" style="margin-top: 60px; margin-bottom: 40px;">
                    <div class="col-md-4">
                        <p><img src="{% static '/assets/img/Courtney-Prather.jpg' %}"> </p>
                        <div class="info_man">Кортни Пратер серебряный призер Flex Bikini Model федерации IFBB                       </div>
                    </div>
                    <div class="col-md-8">
                        <p> Давайте послушаем еще одну выступающую спортсменку и автора многих статей на bodybuilding.com - одном из самых авторитетных сайтов в мире бодибилдинга.</p>
                        <p><em>‘’Of course I use peanut butter to eat my diet, and during the
                                off-season and even sometimes when preparing for competitions. But
                                do not even think about buying light or low-fat peanut butter. When
                                producers eliminate fat, they almost always replace it with a lot of
                                sugar. Buy organic or organic peanut butter. Many inorganic
                                varieties contain hydrogenated oils (a source of dangerous trans
                                fats) so that the product does not separate. This advice I once very
                                well mastered when faced with an unnatural product. Good
                                luck.’’</em></p><p><em>‘’Конечно я использую арахисовую пасту в своем рационе, причем в период межсезонья и даже иногда при подготовке к соревнованиям. Но даже не подумайте о покупке обезжиренной арахисовой пасти. Когда производители устраняют жир, они почти всегда заменяют его большим количеством сахара. Купите натуральную или органическую арахисовую пасту. Многие неорганические сорта содержат гидрогенизированные масла (источник опасных транс-жиров), чтоб продукт не разделялся. Этот совет я когда-то очень хорошо усвоила когда столкнулась с ненатуральным продуктом. Удачи.’’</em></p>                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12">
                    <div class="imgBox first row">
                        <div class="imgBoxIn brand" style="background: url({% static '/assets/img/bg4.jpg' %}) center 100% no-repeat; ">&nbsp;</div>
                    </div>
                </div>


                <div class="col-sm-8 col-sm-offset-2" style="margin-top: 40px; margin-bottom: 20px;">
                    <p style="text-align:center">Собственно это пока все, что мы хотели Вам донести. Эта информация обязательно вам пригодиться. И если вы внимательно ознакомитесь с нашим сайтом, Вы поймете, что именно наша паста соответствует всем требованиям натуральности, доступности, полезности.</p>

<p style="text-align:center">Теперь можете забивать холодильник этим чудо продуктом, и чтобы не тратить время в очередях супермаркетов, Вы можете сделать заказ прямо здесь и прямо сейчас.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12" style="margin-top: 20px; margin-bottom: 40px;">
                    <p style="text-align: center;"><em style="font-size: 12px;"> Хотим поблагодарить администратора сайта bodybuilding.com за научную информацию по исследованиям арахисовой пасты и ее влияние на организм человека.</em>
                    </p><p style="text-align: center;"><em style="font-size: 12px;">We want to thank the
                            administrator of the site bodybuilding.com for scientific information on
                            the research of peanut butter and its effect on the human body</em></p>
                </div>
            </div>
        </div>
    




        {% block footer %}
        {% include 'core/footer1_ru.html' %}
        {% endblock %}
        {% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}

        <script src="{% static '/assets/js/jquery-1.11.1.js' %}"></script>
        <script src="{% static '/assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static '/assets/js/wow.min.js' %}"></script>
        <script src="{% static '/assets/js/scripts.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static '/assets/js/jquery.js' %}"></script>
        <script src="{% static '/assets/bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static '/assets/js/init.js' %}"></script>

    </body>

</html>
