{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="lZIw_qwtqs6BMVMFq4bOnXI5fVShSSWHOD7Rc8tV6y7zv3-b_mb6rbYHP1_R_PnaHlwQGPt_YuEAC5wLgyKaQg==">
    <title>Для спортсменів</title>
    <link rel="shortcut icon" href="{% static '/assets/img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="description" content="Арахисовая паста для детей и взрослых в Киеве и Украине. Большой ассортимент: арахисовая паста, масло и арахис можете приобрести уже сегодня по выгодной цене!">
    <meta name="keywords" content="">
    <link href="{% static '/assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/site.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/page/page.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/template.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/font/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3652317688132524');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3652317688132524&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
    <body>

        {% block navbar %}
        {% include 'core/navbar.html' %}
        {% endblock %}

<div id="content" class="container-fluid">
            <div class="row">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <br>
                    <h1><font color="#f97e05">ДЛЯ СПОРТСМЕНІВ</font></h1>
                    <div class="line"></div>
                    <font size="+1">
                    <p>Друзі, цей розділ не схожий на всі інші, так як буде спрямований на спортивну тематику і також торкнеться дієтологію.  Всі спортсмени: професіонали, любителі, всі "бухгалтера калорій" і ті, хто стежить за своїм раціоном, цей розділ для вас.  Скоро Ви перестанете з жахом обходити вітрини "царства калорій" з арахісовою пастою.</p>
                    <p>Так сталося, що ми тісно пов'язані з професійним спортом, тому ми повинні були зробити для Вас цей розділ.  Інформація нижче - це синтез багаторічних експериментів на власних дієтах і на різних етапах підготовок до різних чемпіонатів, а також тут ми Вам наведемо думки авторитетних американських дієтологів і спортсменів</p>
                    </font>
                </div>
                <div class="col-sm-12">
                    <div class="imgBox first row">
                        <div class="imgBoxIn brand" style=" background: url({% static '/assets/img/bg1.jpg' %}) center 100% no-repeat; ">&nbsp;</div>
                    </div>
                </div>
        </div>
        <div class="row">
            
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h2>ДАВАЙТЕ УЖЕ ПОЧНЕМО</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="background: #dddddd">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>1 ЧОМУ АРАХІСОВА ПАСТА?</h3>
                    <p>Тому що Ви ніколи не виграєте війну проти голоду.  Найкраще їсти їжу, яка змусить Вас відчувати себе ситим.  Це означає, що продукти з білковим і волокноподібним складом, такі як арахісова паста, ідеально підходять для цієї місії.  Ви будете почувати себе ситим - довше, що дуже важливо при постійних фізичних навантаженнях.  Дослідження PerdueUniversity повідомляє, що піддослідні, які їли арахіс кожен день, не переїдали щоденні калорії.  (Kirkmeyer, Int'lJObesity 24: 1167, 2000).  Крім того, якщо Вам подобається те, що ви їсте на своїй дієті, Ви залишитися зі своїм планом харчування і зможете утримати вагу.</p>
                </div>
            </div>

            <div class="row">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>2 АРАХІСОВА ПАСТА - ШВИДКИЙ І ЛЕГКИЙ СПОСІБ ЗМЕНШЕННЯ РИЗИКІВ ХВОРОБ СЕРЦЯ</h3>
                    <p>Як повідомляють в Journal of the American College of Nutrition (випуск 20 (1): 5, 2001) - '' Чим частіше Ви їсте арахісову пасту (і горіхи), тим нижче ризик серцевих захворювань. ''</p>
                </div>
            </div>

            <div class="row"  style="background: #dddddd">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>3 ЦЕ ШВИДКИЙ І КОРИСНИЙ СНІДАНОК</h3>
                    <p>Простий сендвіч з арахісовою пастою (і медом або желе) на хліб - і у Вас є задатки здорової їжі на сніданок - це і є основа різних дієт.</p>
                    <p> Швидкий і легкий сендвіч з арахісовою пастою більш здорово, ніж фаст-фуд або обсмажена курятина на  вечерю, і набагато краще, ніж, скажімо так, не менше "легка" їжа з чіпсів або морозива.</p>
                </div>
            </div>

            <div class="row">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>4 АРАХІСОВА ПАСТА - ДОСТУПНЕ ДЖЕРЕЛО КАЛОРІЙ</h3>
                    <p>Якщо Ви голодний спортсмен, якому потрібно 3000, або більше, калорій в день, Ви можете витратити значну суму грошей, підживлюючи себе (особливо, якщо Ви регулярно вживаєте білкові батончики, коктейлі та інші спортивні продукти).  Арахісова паста може підживлювати ваше тіло, не грабуючи ваш гаманець.</p>
                </div>
            </div>

            <div class="row" style="background: #dddddd">
                <div class="sportsmen col-sm-offset-2 col-sm-8">
                    <h3>5 АРАХІСОВА ПАСТА - СТІЙКЕ ДЖЕРЕЛО ВІТАМІНІВ, МІНЕРАЛІВ І ІНШИХ ЗАХИСНИХ ХАРЧОВИХ З`ЄДНАНЬ</h3>
                    <p>В арахісовій пасті є безліч різноманітних вітамінів і мінералів.  Наприклад, арахісове масло містить фолієву кислоту, вітамін Е, магній і ресвіратрол - всі поживні речовини, пов'язані зі зменшенням ризику серцевих захворювань.  Магній також пов'язаний зі зменшенням ризику розвитку діабету у дорослих.</p>
                    <p>Арахісова паста пропонує невелику кількість цинку, мінералу, необхідного для загоєння і зміцнення імунної системи.  Як спортсменам, Вам потрібні всі ці поживні речовини, щоб тримати Вас в хорошому ритмі тренувань.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="imgBox first row">
                        <div class="imgBoxIn brand" style=" background: url({% static '/assets/img/bg2.jpg' %}) center 100% no-repeat; ">&nbsp;</div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="sportsmen col-sm-offset-2 col-sm-8" style="margin-top: 60px; margin-bottom: 40px;">
                    <div class="col-md-4">
                        <p><img src="{% static '/assets/img/jum.jpg' %}"> </p>
                        <div class="info_man">Джим Стоппани власник докторського ступеня в фізіології вправ в Університеті Коннектикуту.  Є автором «Енциклопедія м'язів і сили» (Human Kinetics, 2006), «Платина 360 дієти і способу життя» LL Cool J (Rodale, 2010), Співавтор книги «Сильніші руки і верхня частина тіла» (Human Kinetics, 2008) та ін  . з ним не посперечаєшся чи не так?                        </div>
                    </div>
                    <div class="col-md-8">
                        <p><em>&laquo;Peanut butter is a very valuable product for athletes and I often remember it in my articles. I want to note the fibrousness of this product because fiber in food contributes to a sense of completeness that can help dieters feel less hungry. Fiber also promotes regular bowel movement and helps digestion. Enjoying peanut butter on whole grain bread, you can contribute from 6 to 8 grams of fiber for the recommended goal of 20 to 35 grams of fiber per day.&raquo;</em></p>
                        <p><em>«Арахісова паста дуже цінний продукт для спортсменів і я не раз згадую його в своїх статтях.  Саме хочу відзначити волокнистість цього продукту так як волокно в їжі сприяє відчуттю повноти, яка може допомогти тим, хто сидів на дієті менше відчувати голод.  Волокно також сприяє регулярному руху кишечника і допомагає травленню.  Насолоджуючись арахісовою пастою, намазуючи її на хліб з цільного зерна, Ви можете вжити від 6 до 8 грамів волокна від рекомендованої норми 20 - 35 грамів клітковини в день.»</em></p>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="imgBox first row">
                        <div class="imgBoxIn brand" style=" background: url({% static '/assets/img/bg3.jpg' %}) center 100% no-repeat; ">&nbsp;</div>
                    </div>
                </div>


                <div class="sportsmen col-sm-8 col-sm-offset-2" style="margin-top: 60px; margin-bottom: 40px;">
                    <div class="col-md-4">
                        <p><img src="{% static '/assets/img/Courtney-Prather.jpg' %}"> </p>
                        <div class="info_man">Кортні Пратер срібний призер Flex Bikini Model федерації IFBB                       </div>
                    </div>
                    <div class="col-md-8">
                        <p> Давайте послухаємо ще одну виступаючу спортсменку і автора багатьох статей на bodybuilding.com - одному з найавторитетніших сайтів в світі бодібілдингу.</p>
                        <p><em>‘’Of course I use peanut butter to eat my diet, and during the
                                off-season and even sometimes when preparing for competitions. But
                                do not even think about buying light or low-fat peanut butter. When
                                producers eliminate fat, they almost always replace it with a lot of
                                sugar. Buy organic or organic peanut butter. Many inorganic
                                varieties contain hydrogenated oils (a source of dangerous trans
                                fats) so that the product does not separate. This advice I once very
                                well mastered when faced with an unnatural product. Good
                                luck.’’</em></p><p><em>''Звичайно я використовую арахісову пасту в своєму раціоні, причому в період міжсезоння і навіть іноді при підготовці до змагань.  Але навіть не подумайте про покупку знежиреної арахісової пасти.  Коли виробники усувають жир, вони майже завжди замінюють його великою кількістю цукру.  Купіть натуральну або органічну арахісову пасту.  Багато неорганічних сортів містять гідрогенізовану олію (джерело небезпечних транс-жирів), щоб продукт не розділявся.  Цю пораду я колись дуже добре засвоїла, коли зіткнулася з ненатуральним продуктом.  Хай щастить.''</em></p>                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12">
                    <div class="imgBox first row">
                        <div class="imgBoxIn brand" style="background: url({% static '/assets/img/bg4.jpg' %}) center 100% no-repeat; ">&nbsp;</div>
                    </div>
                </div>


                <div class="col-sm-8 col-sm-offset-2" style="margin-top: 40px; margin-bottom: 20px;">
                    <p style="text-align:center">Власне це поки все, що ми хотіли Вам донести.  Ця інформація обов'язково вам стати в нагоді.  І якщо ви уважно ознайомитеся з нашим сайтом, Ви зрозумієте, що саме наша паста відповідає всім вимогам натуральності, доступності, корисності.</p>

<p style="text-align:center">Тепер можете забивати холодильник цим диво продуктом, і щоб не витрачати час у чергах супермаркетів, Ви можете зробити замовлення прямо тут і прямо зараз.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12" style="margin-top: 20px; margin-bottom: 40px;">
                    <p style="text-align: center;"><em style="font-size: 12px;"> Хочемо подякувати адміністратора сайту bodybuilding.com за наукову інформацію з досліджень арахісової пасти і її вплив на організм людини.</em>
                    </p><p style="text-align: center;"><em style="font-size: 12px;">We want to thank the
                            administrator of the site bodybuilding.com for scientific information on
                            the research of peanut butter and its effect on the human body</em></p>
                </div>
            </div>
        </div>
   



        {% block footer %}
        {% include 'core/footer1.html' %}
        {% endblock %}
        {% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}

        <script src="{% static '/assets/js/jquery-1.11.1.js' %}"></script>
        <script src="{% static '/assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static '/assets/js/wow.min.js' %}"></script>
        <script src="{% static '/assets/js/scripts.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static '/assets/js/jquery.js' %}"></script>
        <script src="{% static '/assets/bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static '/assets/js/init.js' %}"></script>

    </body>

</html>
