{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _('Арахісова паста і масло. Купити в Україні по приємній ціні') }}{% endblock %}
{% block content %}

<header id="header" class="container-fluid">
        <div class="header_image row">
            <img style="width: 100%" src={{ main_photo.photo.url }}>
        </div>
</header>
<div class="container-fluid">
    <div class="home_info wpb_column col-sm-offset-3 col-sm-6">
    <div class="cooperation_all1  advanced col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <br>
                    <h1>Чому Pasta Family?</h1>
                        <div class="line"></div>
                        <br><br>
                    <div class="col-sm-4">
                        <img src="{% static '/assets/img/why1.png' %}">
                        <span class="first_line">Ми виробляємо натуральне</span>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static '/assets/img/why2.png' %}">
                        <span class="first_line">Смачні ціни</span>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static '/assets/img/why3.png' %}">
                        <span class="first_line">Різноманітний асортимент</span>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static '/assets/img/why4.png' %}">
                        <span class="first_line">Швидка доставка</span>
                    </div>
                        <div class="col-sm-4">
                        <img src="{% static '/assets/img/why5.png' %}">
                        <span class="first_line">Гарантія якості</span>
                    </div>
                        <div class="col-sm-4">
                        <img src="{% static '/assets/img/why6.png' %}">
                        <span class="first_line">Любов до покупця</span>
                    </div>
                        <br>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="home_info wpb_column col-sm-offset-3 col-sm-6">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <div class="line"></div>
                        <h1>Арахісова паста - бажаєте купити в Україні? Але перед цим, ми хочемо детальніше розповісти про цей продукт.</h1>
                        <br>
                        <p>Добрий день, шановні користувачі інтернет-магазину.  Ви помітили, що асортимент нашого магазину
                            складає арахісова паста, завдяки чому ви вже сьогодні можете придбати натуральний продукт за
                            дуже приємною ціною.</p>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-collapse collapse out">
                                <div class="panel-body">Арахісова паста (масло) - натуральний продукт, який вважається
                                    високопоживним. Вже кілька століть це відмінна альтернатива яйцям і м'ясу для
                                    підтримки необхідного рівня вітамінів, а також кількості білка, який вимагає наш
                                    організм. Вченими виявлено, що в арахісі абсолютно немає холестерину, а також
                                    арахісова паста багата такими вітамінами: В1, В2, А, Е, РР. Дуже багато спортсменів
                                    використовують арахісову пасту в своїй їжі, вважається, що паста сильно підвищує
                                    рівень тестостерону, який допомагає, нарощувати м'язи і спалювати жир. Арахісову
                                    пасту купити в Україні на сьогоднішній день можна без проблем, але проблема може
                                    виникнути в натуральності цього продукту. Інтернет-магазин - пропонує купити
                                    арахісову пасту в Києві. Завдяки особливій технології приготування арахісової пасти,
                                    створена можливість зберегти в ній всі корисні властивості, якими володіє арахіс.
                                    Також мікроелементи, якими багата паста, необхідними для нормального функціонування
                                    організму: печінки, серця, нервової тканини та інших органів і систем. Натуральна
                                    арахісова паста і відгуки наших покупців допоможуть у виборі та здійсненні правильної
                                    і корисної покупки.
                                </div>
                            </div>
                            <div class="panel-heading">
                                <button class="btn btn-default btn-xs spoiler-trigger" type="button"
                                        data-toggle="collapse">Детальніше
                                </button>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="wpb_wrapper">
                <div class="carousel-inner">
                    <br>
                    <h1>Відгуки</h1>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-reviews broun-block">
    <div class="container">
        <div class="row">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    {% for top in tops %}
                	    <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a>{{ top.product.product_group.name_ua }} {{ top.product.name_ua }}</a>
                                    <div class="mark">Моя оцінка:
                                        <span class="rating-input">
                                        <span data-value="0" class="glyphicon glyphicon-star"></span>
                                            {% if top.rating >= 2 %}
                                            <span data-value="1" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="1" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if top.rating >= 3 %}
                                            <span data-value="2" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="2" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if top.rating >= 4 %}
                                            <span data-value="3" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="3" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if top.rating == 5 %}
                                            <span data-value="4" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="4" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                        </span>
                                    </div>
                                <p>{{ top.description }}</p>
                                    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                </div>
                                <div class="person-text">
                                    <img src="{{ top.product.image_main.url }}" width="100px" height="130px">
                                    <a>{{ top.name }}</a>
                                    <a>{{ top.created|date:"d.m.Y" }}</a>
				</div>
						</div>
                    {% endfor %}
                    </div>
                    {% for review in reviews %}
                    {% if forloop.counter0|divisibleby:3 %}
                    <div class="item">
                    {% endif %}
                	    <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
                                <a>{{ review.product.product_group.name_ua }} {{ review.product.name_ua }}</a>
                                    <div class="mark">Моя оцінка:
                                        <span class="rating-input">
                                        <span data-value="0" class="glyphicon glyphicon-star"></span>
                                            {% if review.rating >= 2 %}
                                            <span data-value="1" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="1" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if review.rating >= 3 %}
                                            <span data-value="2" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="2" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if review.rating >= 4 %}
                                            <span data-value="3" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="3" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if review.rating == 5 %}
                                            <span data-value="4" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="4" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                    </span>
                                    </div>
                                    <p>{{ review.description }}</p>
                                    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                </div>
                                <div class="person-text">
                                    <img src="{{ review.product.image_main.url }}" width="100px" height="130px">
                                    <a>{{ review.name }}</a>
                                    <a>{{ review.created|date:"d.m.Y" }}</a>
							</div>
						</div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    {% endif %}
                    {% endfor %}
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    <br><br>
{% endblock %}
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}
