{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('Арахисовая паста и масло. Купить в Украине по доступной цене') }}{% endblock %}
{% block content %}

<header id="header" class="container-fluid">
        <div class="header_image row">
            <img style="width: 100%" src={{ main_photo.photo.url }}>
        </div>
</header>
<div class="container-fluid">
    <div class="home_info wpb_column col-sm-offset-3 col-sm-6">
    <div class="cooperation_all1  advanced col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <br>
                    <h1>ПОЧЕМУ PASTA FAMILY?</h1>
                        <div class="line"></div>
                        <br><br>
                    <div class="col-sm-4">
                        <img src="{% static '/assets/img/why1.png' %}">
                        <span class="first_line">Мы производим натуральное</span>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static '/assets/img/why2.png' %}">
                        <span class="first_line">Вкусные цены</span>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static '/assets/img/why3.png' %}">
                        <span class="first_line">Разнообразный  ассортимент</span>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static '/assets/img/why4.png' %}">
                        <span class="first_line">Быстрая доставка</span>
                    </div>
                        <div class="col-sm-4">
                        <img src="{% static '/assets/img/why5.png' %}">
                        <span class="first_line">Гарантия качества</span>
                    </div>
                        <div class="col-sm-4">
                        <img src="{% static '/assets/img/why6.png' %}">
                        <span class="first_line">Любовь к покупателю</span>
                    </div>
                        <br>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="home_info wpb_column col-sm-offset-3 col-sm-6">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <div class="line"></div>
                        <h1>АРАХИСОВАЯ ПАСТА – ЖЕЛАЕТЕ КУПИТЬ В УКРАИНЕ? НО ПЕРЕД ЭТИМ ХОТИМ БОЛЕЕ ДЕТАЛЬНО РАССКАЗАТЬ ОБ ЭТОМ ПОЛЕЗНОМ ПРОДУКТЕ.</h1>
                        <br>
                        <p>Добрый день, уважаемые пользователи интернет-магазин. Вы заметили, что ассортимент нашего
                            магазин составляет арахисовая паста, благодаря чему вы уже сегодня можете приобрести натуральный продукт по очень приятной цене.</p>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-collapse collapse out">
                                <div class="panel-body">Арахисовая паста (масло) – натуральный продукт, который считается
                                    высокопитательным. Уже несколько столетий ето отличная альтернатива яйцам и мясу для
                                    поддержания необходимого уровня витаминов, а также количества белка, который требует
                                    наш организм. Учеными выявлено, что в арахисе абсолютно нету холестерина, а также
                                    арахисовая паста богата такими витаминами: В1, В2, А, Е, РР. Очень много спортсменов
                                    используют арахисовую пасту в своей пище, считается, что паста сильно повышает уровень
                                    тестостерона, который помогает, наращивать мышцы и сжигать жир. Арахисовую пасту купить
                                    в Украине на сегодняшний день можно без проблем, но проблема может возникнуть в
                                    натуральности этого продукта. Интернет-магазин —предлагает купить арахисовую пасту в
                                    Киеве. Благодаря особой технологии приготовления арахисовой пасты , создана
                                    возможность сохранить в ней все полезные свойства, присущие арахису. Также
                                    микроэлементы, которыми богата паста, необходимыми для нормального функционирования
                                    организма: печени, сердца, нервной ткани и других органов и систем. Натуральная
                                    арахисовая паста и отзывы наших покупателей помогут в выборе и совершении правильной и полезной покупки.
                                </div>
                            </div>
                            <div class="panel-heading">
                                <button class="btn btn-default btn-xs spoiler-trigger" type="button"
                                        data-toggle="collapse">Подробнее
                                </button>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="wpb_wrapper">
                <div class="carousel-inner">
                    <br>
                    <h1>Отзывы</h1>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-reviews broun-block">
    <div class="container">
        <div class="row">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    {% for top in tops %}
                	    <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a>{{ top.product.product_group.name_ru }} {{ top.product.name_ru }}</a>
                                    <div class="mark">Моя оценка:
                                        <span class="rating-input">
                                        <span data-value="0" class="glyphicon glyphicon-star"></span>
                                            {% if top.rating >= 2 %}
                                            <span data-value="1" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="1" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if top.rating >= 3 %}
                                            <span data-value="2" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="2" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if top.rating >= 4 %}
                                            <span data-value="3" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="3" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if top.rating == 5 %}
                                            <span data-value="4" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="4" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                        </span>
                                    </div>
                                <p>{{ top.description }}</p>
                                    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                </div>
                                <div class="person-text">
                                    <img src="{{ top.product.image_main.url }}" width="100px" height="130px">
                                    <a>{{ top.name }}</a>
                                    <a>{{ top.created|date:"d.m.Y" }}</a>
							</div>
						</div>
                    {% endfor %}
                    </div>
                    {% for review in reviews %}
                    {% if forloop.counter0|divisibleby:3 %}
                    <div class="item">
                    {% endif %}
                	    <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
                                <a>{{ review.product.product_group.name_ru }} {{ review.product.name_ru }}</a>
                                    <div class="mark">Моя оценка:
                                        <span class="rating-input">
                                        <span data-value="0" class="glyphicon glyphicon-star"></span>
                                            {% if review.rating >= 2 %}
                                            <span data-value="1" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="1" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if review.rating >= 3 %}
                                            <span data-value="2" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="2" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if review.rating >= 4 %}
                                            <span data-value="3" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="3" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                            {% if review.rating == 5 %}
                                            <span data-value="4" class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                            <span data-value="4" class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                    </span>
                                    </div>
                                    <p>{{ review.description }}</p>
                                    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                </div>
                                <div class="person-text">
                                    <img src="{{ review.product.image_main.url }}" width="100px" height="130px">
                                    <a>{{ review.name }}</a>
                                    <a>{{ review.created|date:"d.m.Y" }}</a>
							</div>
						</div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    {% endif %}
                    {% endfor %}
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    <br><br>
{% endblock %}
{% block footer %}
{% include 'core/footer_ru.html' %}
{% endblock %}
