{%load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="lZIw_qwtqs6BMVMFq4bOnXI5fVShSSWHOD7Rc8tV6y7zv3-b_mb6rbYHP1_R_PnaHlwQGPt_YuEAC5wLgyKaQg==">
    <title>{{ product.product_group.name_ua }} {{ product.name_ua }}</title>
    <link rel="shortcut icon" href="{% static '/assets/img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="description" content="Арахисовая паста для детей и взрослых в Киеве и Украине. Большой ассортимент: арахисовая паста, масло и арахис можете приобрести уже сегодня по выгодной цене!">
    <meta name="keywords" content="">
    <link href="{% static '/assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/site.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/template.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/page/page.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/font/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static '/assets/vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/assets/vendor/slick/slick.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/assets/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/assets/css/main.css' %}">
<style>
p {font-family: Montserrat-Regular;}
</style>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3652317688132524');
fbq('track', 'PageView');
fbq('track', 'AddToCart');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3652317688132524&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
    {% block navbar %}
    {% include 'core/navbar.html' %}
    {% endblock %}
    <div id="content" class="container-fluid">
        <div class="row">
            <div class="wpb_wrapper ">
                <br><br>
                <h1 class="product-detail-name">{{ product.product_group.name_ua }} {{ product.name_ua }}</h1>
                <br>
                <div class="line"></div>
            </div>
            <div class="product">
                <div class="container bgwhite p-t-35 p-b-80">
                    <div class="flex-w flex-sb">
                        <div class="w-size13 p-t-30 respon5">
                            <div class="wrap-slick3 flex-sb flex-w">
                                <div class="wrap-slick3-dots">
                                </div>
                                <div class="slick3">
                                    <div class="assets-slick3" data-thumb="{{ product.image_main.url }}">
                                        <div class="wrap-pic-w">
{% if product.availability %}
                                                                        {% else %}
                                                                        <a class="badge badge-success text-white" style="font-size: 18px; background-color: #DF853A">Немає в наявності</a>
                                                                        {% endif %}
                                            <img id="imageToSwap" class="profile" src="{{ product.image_main.url }}" alt="IMG-PRODUCT">
                                        </div>
                                    </div>
                                    <div class="assets-slick3" data-thumb="{{ product.image_2.url }}">
                                        <div class="wrap-pic-w">
                                            <img id="imageToSwap1" class="profile"src="{{ product.image_2.url }}" alt="IMG-PRODUCT">
                                        </div>
                                    </div>
                                    {% if product.image_3 %}
                                    <div class="assets-slick3" data-thumb="{{ product.image_3.url }}">
                                        <div class="wrap-pic-w">
                                            <img id="imageToSwap2" class="profile" src="{{ product.image_3.url }}" alt="IMG-PRODUCT">
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="w-size14 p-t-30 respon5">
                            <h4 class="m-text17 p-b-13"><font color="#DF853A">Виберіть найкращий для себе смаколик:</font></h4>
                            <div class="p-t-33 p-b-60">
                                <div class="flex-m flex-w p-t-10">
                                    <div class="s-text3 w-size15 t-center"><font color="#DF853A" size="3px">Тип:</font></div>
                                        <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
                                            <select class="selection-2" name="color" onchange="window.location.href=this.value;">
                                                <option value="">{{ product.product_type.name_ua }}</option>
                                                {% for product_type in product_types %}
                                                {% if product_type.product_type != product.product_type %}
                                                <option value="/product_group/{{ product.product_group.slug }}/{{ product_type.slug }}/">{{ product_type.product_type.name_ua }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                <div class="flex-m flex-w p-t-10">
                                    <div class="s-text3 w-size15 t-center"><font color="#DF853A" size="3px">Вага:</font></div>
                                        <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
                                            <select class="selection-2" name="color" onchange="window.location.href=this.value;">
                                                <option value="">{{ product.weight.name }}</option>
                                                {% for product_weight in product_weights %}
                                                {% if product_weight.weight != product.weight %}
                                                <option value="/product_group/{{ product.product_group.slug }}/{{ product_weight.slug }}/">{{ product_weight.weight.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                <form id="myForm"  action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                                <div class="flex-m flex-w p-t-10">
                                    <div class="s-text3 w-size15 t-center">
                                        <!--<font color="#DF853A" size="3px">Кількість:</font>-->
                                    </div>
                                    <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
                                        <select class="selection-2" name="quantity" id="id_quantity"><option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select><input type="hidden" name="update" value="False" id="id_update">
                                    </div>
                                </div>
                                    {% csrf_token %}
                                    <div class="flex-r-m flex-w p-t-10">
                                        <div class="w-size17 flex-m flex-w">
                                            <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                                                <input class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" id="AddToCart" type="submit" value="В корзину">
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                            </div>
                            <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
                                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text17 color0-hov trans-0-4">
                                    <font color="#DF853A">Ціна:</font>
                                    {% if product.old_price != None %}
                                    <span class="m-text7">
										{{ product.old_price }} грн.
									</span>
                                    {% endif %}
									<span class="m-text17">
										{{ product.price }} грн.
									</span>
                                </h5>
                            </div>
                            <div class="wrap-dropdown-content bo7 p-t-15 p-b-14 active-dropdown-content">
                                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text17 color0-hov trans-0-4">
                                    <font color="#DF853A">Про продукт:</font>
                                    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                                </h5>
                                <div class="dropdown-content dis-none p-t-15 p-b-23" style="text-align: left; font-family: Montserrat-Regular">
                                    <p style="font-family: Montserrat-Regular">{{ product.ingredients_ua|linebreaks }}</p>
                                </div>
                            </div>
                            <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
                                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text17 color0-hov trans-0-4">
                                    <font color="#DF853A">Опис:</font>
                                    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                                </h5>
                                <div class="dropdown-content dis-none p-t-15 p-b-23">
                                    <p class="s-text4" style="color: black; font-family: Montserrat-Regular; font-size: 15px;">{{ product.description_ua }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	<section class="relateproduct bgwhite p-t-45 p-b-138">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
                    <font color="#DF853A">Інші товари</font>
				</h3>
			</div>
			<div class="wrap-slick2">
				<div class="slick2">
                    {% for product in products %}
					<div class="item-slick2 p-l-15 p-r-15">
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<a href="/product_group/{{ product_group.slug }}/{{ product.slug }}/">
									<img src="{{ MEDIA_URL }}{{ product.image_main.url }}" alt="IMG-PRODUCT">
                                </a>
							</div>
							<div class="block2-txt p-t-20">
								<a href="/product_group/{{ product_group.slug }}/{{ product.slug }}/" class="block2-name dis-block s-text3 p-b-5">
									{{ product.product_group.name_ua }} {{ product.name_ua }}
								</a>
							</div>
						</div>
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</section>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    <div id="dropDownSelect2"></div>


    {% block footer %}
    {% include 'core/footer.html' %}
    {% endblock %}
    {% block ga %}
    {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
    {% endblock ga %}

    <script src="{% static '/assets/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static '/assets/js/wow.min.js' %}"></script>
        <script src="{% static '/assets/js/scripts.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script type="text/javascript" src="{% static '/assets/vendor/animsition/js/animsition.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/assets/vendor/select2/select2.min.js' %}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
	<script type="text/javascript" src="{% static '/assets/vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/assets/js/slick-custom.js' %}"></script>
	<script type="text/javascript" src="{% static '/assets/vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script type="text/javascript">

	</script>
	<script src="{% static '/assets/js/main.js' %}"></script>
    <script src="{% static '/assets/js/index.js' %}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script type="text/javascript" src="{% static 'assets/css/jquery.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#myForm').ajaxForm(function() {
            var nameProduct = $('.product-detail-name').html();
            swal(nameProduct, "Добавлена в корзину!", "success");
            refresh_cart();
            window.history.replaceState(null, null, "?addtocart");
        });
    });

    function refresh_cart() {
        $.ajax({
            url: '/ajax/refresh_cart/',
            dataType: 'json',
            success: function (data) {
                document.getElementById('cart_len').innerHTML = data.len;
            }
        });
    }
</script>
</body>
</html>
