{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('Программа лояльности') }}{% endblock %}
{% block extra_css %}
<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
<script>
   $(document).on('submit','#loyalty_form',function(e){
       e.preventDefault();
       $.ajax({
	        url: '/' + document.getElementById('id_phone').value,
	        dataType: 'json',
	        success: function (data) {
                document.getElementById("not_found").style.display = "none";
                document.getElementById("five").style.display = "none";
                document.getElementById("ten").style.display = "none";
                document.getElementById(data["data"]).style.display = "block";
                document.getElementById(data["data"]).scrollIntoView({block: "center", behavior: "smooth"});
            },
       });
    });
   </script>
{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="article-wrapper row">
        <article>
            <div class="entry-content">
                <div class="cooperation_all col-sm-12">
                    <h1 style="text-align: center;"><font color="#df853a">Добро пожаловать в семью Pasta Family</font></h1>
                    <div class="line"></div>
                    <p style="text-align: center;">Мы очень рады всем нашим постоянным клиентам и каждому в отдельности, поэтому мы разработали выгодную программу лояльности.</p>
                    <p style="text-align: center; font-weight: 900; font-size: 19px;">Что нужно, чтобы стать нашим постоянным клиентом?</p>
                    <p style="text-align: center;">Чтобы стать нашим постоянным клиентом и получать гарантированную скидку при каждой покупке, вам нужно, чтобы за весь период, что вы с нами, сумма всех заказов была 3000 грн., или более.</p>
                    <p style="text-align: center; font-weight: 900; font-size: 19px;">Как проверить являетесь ли вы нашим постоянным клиентом?</p>
                    <p style="text-align: center;">Считать вам не нужно, мы уже все сделали. Введите свой номер телефона (это будет ваш личный код постоянного клиента) в форме ниже и вам откроется информация есть вы постоянным клиентом или нет.</p>
                </div>
                <div class="cooperation_all col-sm-12">
                    <div class="col-sm-12 cooperation_all" style="padding-bottom: 0px; padding-top: 0px;">
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <form id="loyalty_form" method="post">
                                {% csrf_token %}
                                <div class="input-group field-cooperation-name required">
                                    <input type="text" name="phone" placeholder="Проверьте, являетесь ли вы постоянным клиентом, введите номер телефона:" minlength="6" required="" id="id_phone">
                                </div>
                                <button class="save btn btn-default" type="submit" name="submit">Проверить</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 cooperation_all" style="display: none; padding-top: 0px;" id="not_found">
                    <div class="line"></div>
                    <h1 style="text-align: center;">Привет</h1>
                    <p style="text-align: center;">Мы пока только знакомимся и узнаем друг друга лучше. К сожалению, сумма ваших покупок не достаточна для получения фиксированной скидки, вам нужно еще немного насладиться нашими товарами. </p>
                    <p style="text-align: center;">Заходите в наш магазин и делайте покупки, а накануне получения вашей постоянной скидки мы вам обязательно сообщим.</p>
                    <p style="text-align: center;">Также помните, что у нас на сайте вы всегда можете проверить свой статус.</p>
                    <div class="line" style="margin-top: 40px"></div>
                </div>
                <div class="col-sm-12 cooperation_all" style="display: none; padding-top: 0px;" id="five">
                    <div class="line"></div>
                    <h1 style="text-align: center;">Привет, рады приветствовать.</h1>
                    <p style="text-align: center;">Вы «Друг семьи» и имеете гарантированную скидку 5% на все заказы, а также:</p>
                    <p style="text-align: center;  font-style: italic;">• Своевременное сообщение об акциях</p>
                    <p style="text-align: center;  font-style: italic;">• Обслуживание без очередей</p>
                    <p style="text-align: center;">Чтобы стать «Член семьи» и получать 10% скидки, нужно, чтобы частота последующих заказов была минимум один раз в 30 дней</p>
                    <div class="line" style="margin-top: 40px"></div>
                </div>

                <div class="col-sm-12 cooperation_all" style="display: none; padding-top: 0px;" id="ten">
                    <div class="line"></div>
                    <h1 style="text-align: center;">Привет!</h1>
                    <p style="text-align: center;">Мы уже так давно бок о бок и вы для нас «Член семьи».</p>
                    <p style="text-align: center;">Ваша постоянная скидка 10% при каждом заказе, а также:</p>
                    <p style="text-align: center;  font-style: italic;">• Бесплатная доставка каждого пятого заказа</p>
                    <p style="text-align: center;  font-style: italic;">• Своевременное сообщение об акциях</p>
                    <p style="text-align: center;  font-style: italic;">• Обслуживание без очередей</p>
                    <p style="text-align: center;  font-style: italic;">• Спецпредложения</p>
                    <p style="text-align: center;  font-style: italic;">• Предзаказ товаров-новинок</p>
                    <p style="text-align: center;  font-style: italic;">• Бронирование товара на сутки</p>
                    <p style="text-align: center;">Чтобы получать скидку 14 % каждый раз, вам нужно делать заказ минимум один раз в 30 дней.</p>
                    <p style="text-align: center;">Бесплатная доставка осуществляется каждый 5 заказ сделанного в статусе «Член семьи».</p>
                    <div class="line" style="margin-top: 40px"></div>
                </div>
                <div class="col-sm-12 cooperation_all gray1">
                    <h1 style="text-align: center;">Программа лояльности</h1>
                    <h2 style="text-align: center;">Есть два уровня нашей программы:</h2>
                </div>
                <div class="col-sm-12 cooperation_all gray">
                    <div class="seven_adv col-sm-6">
                        <h3>Друг семьи:</h3>
                        <ul>
                            <li>- Если сумма всех заказов превышает 3000 грн.</li>
                            <li>- Своевременное сообщение об акциях</li>
                            <li>- Обслуживание без очередей</li>
                        </ul>
                    </div>
                    <div class="fourteen_adv col-sm-6">
                        <h3>Член семьи:</h3>
                        <ul>
                            <li>- Если сумма всех заказов превышает 3000 грн.</li>
                            <li>* и частота последующих заказов минимум один раз в 30 дней.</li>
                            <li>- Бесплатная доставка каждого пятого заказа</li>
                            <li>- Своевременное сообщение об акциях</li>
                            <li>- Обслуживание без очередей</li>
                            <li>- Спецпредложения</li>
                            <li>- Предзаказ товаров-новинок</li>
                            <li>- Бронирование товара на сутки</li>
                        </ul>
                    </div>
                    <p style="text-align: center;">Если у вас гарантированная скидка 5%, то вы можете ее увеличить до 10%, если в дальнейшем ваши заказы будут минимум 1 раз в 30 дней, у вас каждый раз будет гарантирована скидка 10%.</p>
                    <p style="text-align: center;">Если диапазон будет больше, чем минимум 1 раз в 30 дней, то вы получаете статус Друг семьи и иметь гарантированных 5% пока у вас частота заказов не будет минимум 1 раз в течение 30 дней.</p>
                    <p style="text-align: center; font-style: italic;">В случае, когда у нас на сайте действует акционная цена на товар, то скидка постоянного клиента на действующую скидку не накладывается.</p>
                    <p style="text-align: center; font-style: italic;">Если в вашей корзине будут товары, участвующие в акции на сайте и те, которые не участвуют в акции на сайте, то на вторые будет действовать ваша скидка постоянного клиента</p>
                </div>
                <div class="cooperation_all col-sm-12">
                    <h1 style="text-align: center;"><font color="#df853a">Как получить скидку при заказе?</font></h1>
                    <div class="line"></div>
                    <p style="text-align: center;">При оформлении заказа на сайте в поле введите свой номер телефона и программа автоматически учтет вашу фактическую скидку.</p>
                    <p style="text-align: center;">Если вы оформляете покупку в соцсетях, то укажите менеджеру, что вы постоянный клиент (предварительно разово проверив это на нашем сайте или уточнить у менеджера) и заказ будет оформлен с учетом вашей фактической скидки.</p>
                    <p style="text-align: center;">P.S. приобщайся к семье</p>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}