{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _('Програма лояльності') }}{% endblock %}
{% block extra_css %}
<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
<script>
   $(document).on('submit','#loyalty_form',function(e){
       e.preventDefault();
       $.ajax({
	        url: '/' + document.getElementById('id_phone').value,
	        dataType: 'json',
	        success: function (data) {
                document.getElementById("not_found").style.display = "none";
                document.getElementById("five").style.display = "none";
                document.getElementById("ten").style.display = "none";
                document.getElementById(data["data"]).style.display = "block";
                document.getElementById(data["data"]).scrollIntoView({block: "center", behavior: "smooth"});
            },
       });
    });
   </script>
{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="article-wrapper row">
        <article>
            <div class="entry-content">
                <div class="cooperation_all col-sm-12">
                    <h1 style="text-align: center;"><font color="#df853a">Вітаємо у сім`ї Pasta Family</font></h1>
                    <div class="line"></div>
                    <p style="text-align: center;">Ми дуже раді усім нашим постійним клієнтам та кожному зокрема, саме тому ми розробили вигідну програму лояльності.</p>
                    <p style="text-align: center; font-weight: 900; font-size: 19px;">Що потрібно, щоб стати нашим постійним клієнтом?</p>
                    <p style="text-align: center;">Щоб стати нашим постійним клієнтом і отримувати гарантовану знижку при кожній покупці, вам потрібно, щоб за весь період, що ви з нами, сума усіх замовлень була 3000 грн., або більше.</p>
                    <p style="text-align: center; font-weight: 900; font-size: 19px;">Як перевірити чи ви є нашим постійним клієнтом?</p>
                    <p style="text-align: center;">Рахувати вам не потрібно, ми уже все зробили. Введіть свій номер телефону (це буде ваш особистий код постійного клієнта ) у формі нижче і вам відкриється інформація чи є ви постійним клієнтом, чи ні.</p>
                </div>
                <div class="cooperation_all col-sm-12">
                    <div class="col-sm-12 cooperation_all" style="padding-bottom: 0px; padding-top: 0px;">
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <form id="loyalty_form" method="post">
                                {% csrf_token %}
                                <div class="input-group field-cooperation-name required">
                                    <input type="text" name="phone" placeholder="Перевірте, чи ви є постійним клієнтом, введіть номер телефону:" minlength="6" required="" id="id_phone">
                                </div>
                                <button class="save btn btn-default" type="submit" name="submit">Перевірити</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 cooperation_all" style="display: none; padding-top: 0px;" id="not_found">
                    <div class="line"></div>
                    <h1 style="text-align: center;">Привіт</h1>
                    <p style="text-align: center;">Ми поки лише знайомимось та взнаємо один одного краще. На жаль, сума ваших покупок не достатня для отримання фіксованої знижки, вам потрібно ще трішки посмакувати наших товарів.</p>
                    <p style="text-align: center;">Заходьте до нашого магазину і робіть покупки, а напередодні отримання вашої постійної знижки ми вас обов’язково повідомимо.</p>
                    <p style="text-align: center;">Також пам’ятайте, що у нас на сайті ви завжди можете перевірити свій статус.</p>
                    <div class="line" style="margin-top: 40px"></div>
                </div>
                <div class="col-sm-12 cooperation_all" style="display: none; padding-top: 0px;" id="five">
                    <div class="line"></div>
                    <h1 style="text-align: center;">Привіт, раді вітати.</h1>
                    <p style="text-align: center;">Ви «Друг родини» і маєте гарантовану знижку 5% на усі замовлення, а також:</p>
                    <p style="text-align: center;  font-style: italic;">• Своєчасне повідомлення про акції</p>
                    <p style="text-align: center;  font-style: italic;">• Обслуговування без черг</p>
                    <p style="text-align: center;">Щоб стати «Член сім`ї» та отримувати 10% знижки, потрібно, щоб частота наступних замовлень була мінімум один раз в 30 днів.</p>
                    <div class="line" style="margin-top: 40px"></div>
                </div>

                <div class="col-sm-12 cooperation_all" style="display: none; padding-top: 0px;" id="ten">
                    <div class="line"></div>
                    <h1 style="text-align: center;">Привіт!</h1>
                    <p style="text-align: center;">Ми уже так давно пліч-о-пліч і ви для нас є «Членом сім`ї».</p>
                    <p style="text-align: center;">Ваша постійна знижка 10% при кожному замовленні, а також:</p>
                    <p style="text-align: center; font-style: italic;">• Безкоштовна доставка кожного п`ятого замовлення</p>
                    <p style="text-align: center; font-style: italic;">• Своєчасне повідомлення про акції</p>
                    <p style="text-align: center; font-style: italic;">• Обслуговування без черг</p>
                    <p style="text-align: center; font-style: italic;">• Спецпропозиції</p>
                    <p style="text-align: center; font-style: italic;">• Передзамовлення товарів-новинок</p>
                    <p style="text-align: center; font-style: italic;">• Бронювання товару на добу</p>
                    <p style="text-align: center;">Щоб отримувати знижку 10% кожного разу, вам потрібно робити замовлення мінімум один раз в 30 днів.</p>
                    <p style="text-align: center;">Безкоштовна доставка здійснюється кожного 5 замовлення зробленого в статусі «Член сім`ї».</p>
                    <div class="line" style="margin-top: 40px"></div>
                </div>
                <div class="col-sm-12 cooperation_all gray1">
                    <h1 style="text-align: center;">Програма лояльності</h1>
                    <h2 style="text-align: center;">Є два рівні нашої програми:</h2>
                </div>
                <div class="col-sm-12 cooperation_all gray">
                    <div class="seven_adv col-sm-6">
                        <h3>Друг родини:</h3>
                        <ul>
                            <li>- Якщо сума усіх замовлень перевищує 3000 грн.</li>
                            <li>- Своєчасне повідомлення про акції</li>
                            <li>- Обслуговування без черг</li>
                        </ul>
                    </div>
                    <div class="fourteen_adv col-sm-6">
                        <h3>Член сім`ї:</h3>
                        <ul>
                            <li>- Якщо сума усіх замовлень перевищує 3000 грн.</li>
                            <li>* і частота наступних замовлень мінімум один раз в 30 днів.</li>
                            <li>- Безкоштовна доставка кожного п`ятого замовлення</li>
                            <li>- Своєчасне повідомлення про акції</li>
                            <li>- Обслуговування без черг</li>
                            <li>- Спецпропозиції</li>
                            <li>- Передзамовлення товарів-новинок</li>
                            <li>- Бронювання товару на добу</li>
                        </ul>
                    </div>
                    <p style="text-align: center;">Якщо у вас гарантована знижка 5%, то ви можете її збільшити до 10%, якщо надалі  ваші замовлення будуть мінімум 1 раз в 30 днів, у вас кожного разу буде гарантована знижка 10%.</p>
                    <p style="text-align: center;">Якщо діапазон буде більший ніж мінімум 1 раз в 30 днів, то ви отримуєте статус  Друг родини  і матимете гарантованих 5% доки у вас частота замовлень не буде мінімум 1 раз протягом 30 днів.</p>
                    <p style="text-align: center; font-style: italic;">У випадку коли у нас на сайті діє акційна ціна на товар, то знижка постійного клієнта на діючу знижку не накладається.</p>
                    <p style="text-align: center; font-style: italic;">Якщо у вашій корзині будуть товари, які беруть участь в акції на сайті, і які не беруть участь в акції на сайті, то на другі буде діяти ваша знижка постійного клієнта</p>
                </div>
                <div class="cooperation_all col-sm-12">
                    <h1 style="text-align: center;"><font color="#df853a">Як отримати знижку при замовленні?</font></h1>
                    <div class="line"></div>
                    <p style="text-align: center;">При оформленні замовленні на сайті в полі введіть свій номер телефону і програма автоматично врахує вашу фактичну знижку.</p>
                    <p style="text-align: center;">Якщо ви оформляєте покупку в соцмережах, то вкажіть менеджеру, що ви постійний клієнт ( попередньо  разово перевіривши це на нашому сайті або уточніть у менеджера ) і замовлення буде оформлено з урахуванням вашої фактичної знижки.</p>
                    <p style="text-align: center;">P.S. Долучайся до сім`ї.</p>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}