{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="lZIw_qwtqs6BMVMFq4bOnXI5fVShSSWHOD7Rc8tV6y7zv3-b_mb6rbYHP1_R_PnaHlwQGPt_YuEAC5wLgyKaQg==">
    <title>Корзина</title>
    <link rel="shortcut icon" href="{% static '/assets/img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="description" content="Арахисовая паста для детей и взрослых в Киеве и Украине. Большой ассортимент: арахисовая паста, масло и арахис можете приобрести уже сегодня по выгодной цене!">
    <meta name="keywords" content="">
    <link href="{% static '/assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/site.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/template.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/page/page.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/font/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">


    <link id="mainStyles" rel="stylesheet" media="screen" href="{% static '/cart/css/styles.min.css' %}">
    <link id="stylesheet" rel="stylesheet" media="screen" href="{% static '/cart/css/vendor.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/assets/vendor/slick/slick.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/assets/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/assets/css/main.css' %}">
<style>
    select {
        text-align-last: center;
    }
</style>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3652317688132524');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3652317688132524&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
<body onload="CheckDiscount()">
<div>
    {% block navbar %}
    {% include 'core/navbar_ru.html' %}
    {% endblock %}
        <div id="content" class="container-fluid">
        <div class="row">
            <div class="wpb_wrapper">
                <br><br>
                <h1>Корзина</h1>
                <br>
                <div class="line"></div>
            </div>
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
            <div class="container p-t-35 p-b-80">
                {% for item in cart %} 
                {% with product=item.product %}
                <div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                            <a href="/ru/product_group/{{ product.product_group.slug }}/{{ product.slug }}/"><img src="{{ MEDIA_URL }}{{ product.image_main.url }}" alt="IMG-PRODUCT">
                            </a>
                            <a href="/ru/product_group/{{ product.product_group.slug }}/{{ product.slug }}/" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="block2-txt p-t-20">
                            <a href="/ru/product_group/{{ product_group.slug }}/{{ product.slug }}/" class="block2-name dis-block s-text3 p-b-5">
                                {{ product.product_group.name_ru }} {{ product.name_ru }}
                            </a>
                            <a class="block2-name dis-block m-text16 p-b-5">{{ item.total_price }} грн.</a>
                            <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                {% csrf_token %}
                                <div class="flex-m flex-w" style="justify-content: center">
                                    <a class="btn-addcart-product-detail trans-0-4 m-t-10 m-b-10" style="width: 50%; height: 45px">
                                        <input class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" type="submit" value="Обновить">
                                    </a>
                                    <a class="btn-addcart-product-detail trans-0-4 m-t-10 m-b-10 bg0 flex-c-m sizefull bo-rad-23 hov1 s-text1 trans-0-4" style="width: 50%; height: 45px" href="{% url "cart:CartRemove" product.id %}" data-toggle="tooltip" title="Remove item"><i class="icon-cross"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
                <div class="shopping-cart-footer">
                  <div class="column text-lg"><span id="discount" style="display: none;">Сумма с учетом вашей постоянной скидки:</span>Всего: <span class="text-medium">{{ cart.get_total_price_after_discount|floatformat:"0" }} грн.</span></div>
                </div>
                <div class="shopping-cart-footer">
                    <div class="column">
                        <font size="2px">* Заказы оформлены до 16:00(в рабочие дни) отправляются в тот же день, после 16:00 - на следующий.</font>
                        <button type="button" class="btn btn-primary" onclick="location.href='/ru/product_group/'">В магазин</button>
                        <button type="button" class="btn btn-success" onclick="location.href='/order/ru/addpaymentinfo/'">Оформить покупку</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <br><br>
    <h1>Корзина пустая</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
    {% endif %}
    {% endwith %}
    {% block footer %}
    {% include 'core/footer_ru.html' %}
    {% endblock %}
<script type="text/javascript">
        function CheckDiscount(){
    var discount = "{{ discount }}";
    if (discount==5){
        document.getElementById('discount').style.display = "block";
    } else if (discount==10){
        document.getElementById('discount').style.display = "block";
    }
};
    </script>
    <script src="{% static '/assets/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static '/assets/js/wow.min.js' %}"></script>
        <script src="{% static '/assets/js/scripts.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script type="text/javascript" src="{% static '/assets/vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static '/assets/js/main.js' %}"></script>
</body>
</html>

